body{
    background-color: rgb(143, 136, 136);
}
#nav{
    border : 5px solid rgb(34, 32, 32);
    margin : 20px;
    width: 100%;
    
}

#search{
    border : 5px solid rgb(243, 243, 243);
    margin: 20px;

}

#promodujour{
    border : 5px solid rgb(9, 3, 94);
    margin: 20px;
    
}

#containercartes{
    border : 5px solid rgb(161, 0, 0);
    margin: 20px;
    display: flex;
    
}

.carte{
    border : 5px solid rgb(255, 0, 191);
    margin: 40px;
    
}

.carteimage{
    border : 5px solid rgb(255, 251, 0);
    margin: 20px;
    
}

.cartetexte{
    border : 5px solid rgb(198, 211, 18);
    margin: 20px;
        background-image: url(C:\Users\Bruno\Pictures\Pokemon-logo.svg);
        background-repeat: no-repeat;
        width: 80px;
        height: 103px;
        padding: 0;
      }
    
    
}

#pieddepage {
    border: 5px solid rgb(5, 3, 3);
    background-color: rgb(190, 170, 170);
    color: rgb(0, 0, 0);
    margin: 20px;
    width: 100%;
}
#divavatar {
  background-image: url(https://h9y3q5u4.stackpathcdn.com/files/products/large/large_pokemon-logo-statue-360.png);
  background-repeat: no-repeat;
  width: 80px;
  height: 103px;
  padding: 5px;
}